<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html::header"></div><!--헤더-->
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/admin/cnemawrite}"><button class="btn btn-primary"> 관등록 </button></a>
                <table class="table p-5">
                    <tr>
                        <td>1관</td><td>200석</td><td>imax</td>
                    </tr>
                    <tr>
                        <td>2관</td><td>200석</td><td>3d</td>
                    </tr>
                    <tr>
                        <td>3관</td><td>200석</td><td>일반</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <a th:href="@{/admin/moviewrite}"><button class="btn btn-primary"> 영화등록 </button></a>
                <table class="table p-5">
                    <tr th:each="movie : ${movieinfo}">
                        <td th:text="${movie.movieNm}"></td><td th:text="${movie.openDt}"></td><td>X</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <a th:href="@{/admin/moviedate}" ><button class="btn btn-primary"> 시간등록 </button></a>
                <table class="table p-5">
                    <tr>
                        <td>2022-01-07</td><td>11:00~13:10</td><td>1관</td><td>스파이더맨</td>
                    </tr>
                    <tr>
                        <td>2022-01-07</td><td>11:00~13:10</td><td>1관</td><td>스파이더맨</td>
                    </tr>
                    <tr>
                        <td>2022-01-07</td><td>11:00~13:10</td><td>1관</td><td>스파이더맨</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>











<div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>