<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html::header"></div><!--헤더-->
    <br><br><br><br><br>

    <div class="container">
        <div class="row">
            <a class="col-md-2"  th:href="@{/admin/moviedate}"><button class="btn btn-secondary"> 시간등록 </button></a>
            <div class="col-md-2 offset-8 d-flex justify-content-end"><a th:href="@{/admin/adminmain}"><button >뒤로가기</button></a></div>
        </div>
        <table class="table p-5" id="spreadsheet3">
            <tr>
                <td>스케줄번호</td><td>날짜</td><td>시간</td><td>관</td><td>영화아이디</td><td>좌석수</td>
            </tr>
            <tr th:each="date : ${datelist}">
                <td th:text="${date.dno}"></td><td th:text="${date.ddate}"></td><td th:text="${date.dtime}"></td>
                <td th:text="${date.cnemaEntityDate.cname}"></td><td th:text="${date.movieEntityDate.mvid}"></td><td th:text="${date.dseat}"></td>
                <td><a href="#" class="button" th:onclick="admindelete(3,[[${date.dno}]])">X</a></td>
            </tr>
        </table>

        <ul class="pagination justify-content-center"
            th:with = "start=${T(Math).floor(datelist.number/10)*10+1},
                            last=${ start + 9 < datelist.totalPages ? start + 9 : datelist.totalPages}">
            <!--첫페이지 -->
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/datelist(page=1)}"><<</a>
            </li>

            <li class="page-item "th:class="${datelist.first} ? 'disabled' ">
                <a class="page-link" th:href="${datelist.first} ? '#' : @{/admin/datelist(page=${ datelist.number })}"> < </a>
            </li>

            <li class="page-item" th:each="page : ${#numbers.sequence(start,last)}">
                <a class="page-link" th:href="@{/admin/datelist(page=${page})}" th:text="${page}"></a>
            </li>

            <li class="page-item" th:class="${datelist.last} ? 'disabled'">
                <a class="page-link" th:href="${datelist.last} ? '#' : @{/admin/datelist(page=${datelist.number+2})}">></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{/admin/datelist(page=${datelist.totalPages})}">>></a>
            </li>

        </ul>

    </div>

    <form action="/admin/datelist" method="get" class="col-md-5 offset-4 input-group my-3 g-0" >
        <div class="col-md-1">
            <select name="keyword" class="form-select">
                <option value="ddate">날짜</option>
                <option value="dno">스케줄번호</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="type" name="search" class="form-control">
        </div>
        <div class="col-md-1">
            <input type="submit" value="검색" class="form-control">
        </div>
    </form>

    </div>



    <div th:replace="footer.html::footer"></div><!--푸터-->

</body>
</html>