<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div th:replace="header.html::header"></div><!--헤더-->

  <script th:src = "@{/js/ticketupdate.js}"></script>
  <div class="container">
      <table class="table">
          <tr>
              <td>예약번호</td><td>예약일자</td><td>좌석</td><td>인원</td><td>영화제목</td><td>관</td><td>총가격</td><td>변경</td><td>취소</td>
          </tr>

          <tr th:each="list : ${list}">
              <td th:text="${list.tno}"></td><td th:text="${list.date}"></td><td th:text="${list.seat}"></td>
              <td th:text="${list.count}"></td><td th:text="${list.movietitle}"></td><td th:text="${list.cnemaname}"></td>
              <td th:text="${list.price}"></td><td><a th:href="@{/movie/repair}">변경</a></td><td><button class="btn btn-danger" th:onclick="ticketcancel([[${list.tno}]])">취소</button></td>
          </tr>
      </table>

  </div>



  <div th:replace="footer.html::footer"></div><!--푸터-->

</body>
</html>