<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html::header"></div><!--헤더-->
<script th:src = "@{/js/admin.js}"></script>

    <h3>영화 등록</h3>
<!--    <div th:each="movie : ${movielist}">-->
<!--        <button th:text="${movie.movieNm}" th:value="${movie.movieCd}"></button>-->
<!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="offset-1 col-md-4">
                <form id="form" action="/admin/moviewritecontroller" method="post" enctype="multipart/form-data">
                    <div>
                        <select name="mvid" id="mvid" class="form-control" onchange="movieinfodiv()">
                            <option >영화선택</option>
                            <option th:each="movie : ${movielist}" th:text="${movie.movieNm}" th:value="${movie.movieCd}"></option>
                        </select>
                    </div>
                    <div>
                        썸네일<input type="file" multiple="multiple" name="mvimg" class="form-control">
                    </div>
                    <div>
                        동영상<input type="file" multiple="multiple" name="mvvideo" class="form-control">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" onclick="moviewrite()" class="btn btn-primary">등록</button>
                    </div>
                </form>
            </div>
            <!--영화 정보-->
            <div class="col-md-6">
                <table class="table" id="movietable">

                </table>
            </div>
        </div>
    </div>



<div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>