<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div th:replace="header.html::header"></div><!--헤더-->
    <div class="container">
        <div class="offset-4 col-md-4">
            <div>
                날짜<input type="date" id="ddate">
            </div>
            <div>
                시작시간<input type="time" class="form-control" id="dtime">
            </div>
            <div>
                종료시간<input type="time" class="form-control" id="endtime">
            </div>
            <div>
                <select class="form-control" id="dcnema">
                    <option>관선택</option>
                    <span th:each="cnemalist : ${cnemalist}">
                         <option th:text="${cnemalist.cname}" th:value="${cnemalist.cno}"></option>
                    </span>
                </select>
            </div>
            <div>
                <select class="form-control" id="dmovie">
                    <option>영화선택</option>
                    <span th:each="movieinfo : ${movieinfo}">
                        <option th:text="${movieinfo.movieNm}" th:value="${movieinfo.mvno}"></option>
                    </span>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" onclick="screenregister()">등록</button>
            </div>
        </div>
    </div>

 <div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>