<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
모달로 ID/PW 찾기
<div th:replace="header.html::header"></div><!--헤더-->
<div class="modal-body p-5 pt-0">

    <div class="form-floating mb-3">
        <input type="text" class="form-control rounded-4" id="login_m_id" placeholder="아이디">
        <label for="floatingInput">아이디</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control rounded-4" id="login_m_password" placeholder="비밀번호">
        <label for="floatingPassword">비밀번호</label>
    </div>
    <div id = "loginfailmsg" class="text-danger text-center" ></div> <!--로그인실패시 메시지-->
    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" onclick="login()">로그인</button>
    <a th:href="@{/member/findid}"><small class="text-muted px-2">회원정보찾기</small></a>

    <hr class="my-4">
    <h2 class="fs-5 fw-bold mb-3">SNS 연동로그인</h2>    <!--ouath2-->
    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
        구글
    </button>
    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
        카카오
    </button>
    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
        <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
        네이버
    </button>

</div>

<div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>