<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="header.html::header"></div><!--헤더-->
<script th:src="@{/js/member.js}"></script>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-2">
            <form action="/member/logincontroller" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" name="mid" id="login_mid" placeholder="아이디">
                <label for="floatingInput">아이디</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" name="mpassword" id="login_mpassword" placeholder="비밀번호">
                <label for="floatingPassword">비밀번호</label>
            </div>
            <div id = "loginfailmsg" class="text-danger text-center" ></div>
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-danger" type="submit">로그인</button>
                <div th:if="${param.error}">
                    로그인실패 [ 아이디 혹은 비밀번호가 다릅니다 ]
                </div>
            </form>
        <div class="text-center">
            <a th:href="@{/member/findid}" data-bs-target="#modalfindid" data-bs-toggle="modal" style="text-decoration: none;" ><small class="text-muted px-2">아이디 찾기</small></a>
            <a th:href="@{/member/findpassword}" data-bs-target="#modalfindpassword" data-bs-toggle="modal" style="text-decoration: none;"><small class="text-muted px-2">비밀번호 찾기</small></a>
        </div>
        <hr class="my-4">
        <h2 class="fs-5 fw-bold mb-3">SNS 연동로그인</h2>
        <span class="hidden" data-bs-target="#modaladdinfo" data-bs-toggle="modal">
            <a href="/oauth2/authorization/naver"><img th:src="@{/img/naver1.png}" width="380px;" style="margin-bottom: 10px;"></a><br>
            <a href="/oauth2/authorization/kakao"><img th:src="@{/img/kakao.png}"  width="380px;" style="margin-bottom: 10px;"></a><br>
            <a href="/oauth2/authorization/google "><img th:src="@{/img/google3.png}" width="380px;" ></a>
       </span>
       </div>
        <div class="col-md-4">
            <img  th:src="@{/img/adimg.png}" width="100%;">
        </div>
</div>
</div>

<!--아이디 찾기 모달-->
<div class="modal fade"  data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalfindid" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">아이디 찾기</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--닫기버튼-->
            </div>
            <div class="modal-body p-5 pt-0">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4"  placeholder="이름을 입력하세요." id="findidname">
                    <label for="floatingInput">이름을 입력하세요.</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4"  placeholder="이메일을 입력하세요." id="findidemail">
                    <label for="floatingInput">이메일을 입력하세요.</label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" onclick="findid();">아이디 찾기</button>
            </div>
        </div>
    </div>
</div>
<!--아이디 찾기 모달끝-->
<!--비밀번호 찾기 모달-->
<div class="modal fade"  data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalfindpassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">비밀번호 찾기</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--닫기버튼-->
            </div>
            <div class="modal-body p-5 pt-0">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4"  placeholder="아이디를 입력하세요." id="findpasswordid">
                    <label for="floatingInput">아이디</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4"  placeholder="이메일" id="findpasswordemail">
                    <label for="floatingInput">이메일</label>
                </div>
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" onclick="findpassword();">비밀번호 찾기</button>
        </div>
    </div>
</div>
</div>
<!--비밀번호 찾기 모달끝-->














<div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>