<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html::header"></div><!--헤더-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script th:src="@{/js/movie.js}"></script>
    <input type="hidden" id="movieno" th:value="${movieview.mvno}">
    <div>
        <div class="d-flex justify-content-center" style="background-color: black;" >
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 60%;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{'/poster/'+${movieview.movieimg[0]}}" class="d-block w-100">
                    </div>
                    <div class="carousel-item" th:each="num : ${#numbers.sequence(1,movieview.movieimg.size()-1)}">
                         <img th:src="@{'/poster/'+${movieview.movieimg[num]}}" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> <!--캐러셀 끝-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-2" style="position: relative;" >

                <img th:src="@{'/poster/'+${movieview.poster}}" style="overflow: hidden; width:205px;border-radius: 5%; position: relative; left:0; top:-50px;">
            </div>
            <div class="col-md-6 mt-3" style="margin-left: 20px;">
                <strong style="font-size: 2rem; text-align: left;" th:text="${movieview.movieNm}"></strong><br>
                <strong th:text="'예매율 :'+${rank.rank}+' '+${rank.advancerate}"></strong><span style="margin: 0 5px 0 5px; font-weight: bold">|</span><strong th:text="'누적관객수 :'+${rank.cumulative}+'명'"></strong><hr>
                <strong style="font-weight: bold">장르 </strong><span th:text="${movieview.genres}"></span><strong style="margin: 0 10px 0 10px">러닝타임 </strong><span th:text="${movieview.showTm}"></span>분<br>
                <strong style="font-weight: bold">감독 </strong><span th:text="${movieview.directors}"></span><br>
                <strong style="font-weight: bold">배우 </strong><span style="max-width: 100px;" th:text="${movieview.actors}" ></span><br>
                <a th:href="@{/movie/ticketingdate}"><button class="btn btn-danger btn-lg" style="position: relative; top:-40px;right: -450px;padding: 20px 50px 20px 50px" >예매하기</button></a>
            </div>
        </div>
        <!--영화 정보 평점  및 관람평  네비 버튼부분-->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link  " id="nav-home-tab" data-bs-toggle="tab"style="width: 50%; left: 0%; )"  data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">영화정보</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" style="width: 50%; left: 0%;" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">평점 및 관람평</button>
            </div>
        </nav>
        <!--영화 정보 평점  및 관람평  네비 버튼부분  끝-->
        <!--영화 정보 부분 시작-->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!--이부분 부터 영화 정보 부분 사용~! -->

                <div class="row">
                    <div class="col-md-4 offset-2">
                        <strong>  메인예고편</strong>
                        <button class="btn" style="margin: 0 auto;" data-bs-target="#videomodal" data-bs-toggle="modal"><img th:src="@{'/poster/'+${movieview.movieimg[0]}}" style="width: 100%"></button>
                    </div>
                    <div class="col-md-4">
                        <strong>  티저영상</strong>
                       <!-- <button class="btn" style="margin: 0 auto;" data-bs-target="#videomodal2" data-bs-toggle="modal"><img th:src="@{'/poster/'+${movieview.movieimg[1]}}" style="width: 100%"></button>-->
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 offset-2">
                        <div style="">
                            <canvas id="sexChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="">
                            <canvas id="ageChart"></canvas>
                        </div>
                    </div>


                <hr>
                <div class="modal fade" tabindex="-1" role="dialog" id="videomodal" data-bs-backdrop="static" >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content rounded-4 shadow">
                            <div class="modal-body p-4 text-center">
                                <button class="btn" style="position: absolute; right: 0px; top:0px; font-weight: bold;" data-bs-dismiss="modal">X</button>
                                <video controls width="100%" autoplay>
                                    <source th:src="@{'/poster/'+${movieview.movievideo[0]}}">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="videomodal2" data-bs-backdrop="static" >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content rounded-4 shadow">
                            <div class="modal-body p-4 text-center">
                                <button class="btn" style="position: absolute; right: 0px; top:0px; font-weight: bold;" data-bs-dismiss="modal">X</button>
                                <video controls width="100%" autoplay>
                                    <source th:src="@{'/poster/'+${movieview.movievideo[1]}}">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div><!--영화정보부분 끝 </div>-->
            <!--영화정보 부분 끝-->
            <!--영화댓글 부분 시작-->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="col-md-6 offset-3">
                    <div  class="input-group offset-1">
                        <input type="hidden" th:value="${movieview.mvno}" id="mvno">
                        <div>
                            <h6> 댓글 작성 </h6>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control"id="rcontents" name="rcontents">
                        </div>
                        <div class="col-md-2">
                            <input type="button" onclick="replywrite()" value="등록" class="form-control">
                        </div>
                    </div>
                    <div id="retable" >
                        <table class="table" >
                            <!-- <tr>
                                 <th widh="10%">작성자 <br><span style="font-size:5px;">작성일</span></th>
                                 <th widh="70%">내용 </th>
                                 <th widh="10%">비고</th>
                             </tr>-->
                            <tr th:each="reply:${replyEntitiys}">
                                <td>
                                    <div th:text="${reply.rno}"></div>
                                <td>
                                <td>
                                    <div style="font-size:8px;" th:text="${reply.memberEntityReply.mid}"></div>
                                    <div style="font-size:8px;" th:text="${#temporals.format(reply.createdDate, 'MM-dd hh:mm')}"></div>
                                <td>
                                <td th:text="${reply.rcontents}">내용</td>
                                <td>
                                    <button class="btn btn-danger btn-sm"  th:onclick="replydelete([[${reply.rno}]])">삭제</button>
                                </td>
                            </tr>

                        </table>

                    </div>

                </div>


            <ul class="pagination justify-content-center"
                th:with="start=${T(Math).floor(replyEntitiys.number/10) * 10 + 1 } ,
                    last=${ start + 9 < replyEntitiys.totalPages ?  start + 9 : replyEntitiys.totalPages }">
           <!--   첫페이지이동 -->
                <li class="page-item">
                    <a class="page-link" th:href="@{'/movie/movieview/'+${movieview.mvid}(page=1)}"> << </a>
                </li>
                <!--이전페이지이동-->
                <li class="page-item" >
                    <a class="page-link" th:href="${replyEntitiys.first} ? '#' : @{'/movie/movieview/'+${movieview.mvid}(page=${ replyEntitiys.number })}"> < </a>
                </li>
                <!-- 페이지번호 -->
                <li class="page-item" th:each="page : ${#numbers.sequence( start , last ) }">
                    <a class="page-link" th:href="@{'/movie/movieview/'+${movieview.mvid}(page=${page})}" th:text="${page}"> </a>
                </li>

               <!-- 다음페이지이동-->
                <li class="page-item">
                    <a class="page-link" th:href="${replyEntitiys.last} ? '#' : @{'/movie/movieview/'+${movieview.mvid}(page=${replyEntitiys.number+2})}"> > </a>
                </li>
                   <!-- 마지막페이지 이동 -->
                <li class="page-item">
                    <a class="page-link" th:href="@{'/movie/movieview/'+${movieview.mvid}(page=${replyEntitiys.totalPages})}"> >> </a>
                </li>
            </ul>

            </div>


        </div>
    </div>




<!--게시판예시-->
<!--영화 댓글부분 2 끝-->


<div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>