<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div th:replace="header.html::header"></div><!--헤더-->
 <!-- 결제 API  -->
 <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
 영화 자리 선택
 인원수도 받아야함
 결제도 여기서
 <div class="container">
     <div class="col-md-10 offset-1 text-center" style="border:mediumturquoise solid 3px; height: 700px;">
         <div class="col-md-2 offset-5 mt-3">
             <div class="input-group">인원 선택 :
                 <select class="form-select">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                 </select>
             </div>
         </div>
         <div style="margin-top: 10px; height: 500px; "><!--자리깔기-->
             <button class="btn" style="background-color: springgreen; border-radius: 30%;">A1</button>
             <button class="btn" style="background-color: orangered; border-radius: 30%;">A2</button>
             <button class="btn" style="background-color: darkgray; border-radius: 30%;">A3</button><br>
                <button data-bs-target="#videomodal" data-bs-toggle="modal">예고편</button>
         </div>
         <button class="btn btn-success" data-bs-target="#paymentmodal" data-bs-toggle="modal">결제하기</button>
     </div>
 </div>
 <div class="modal fade" tabindex="-1" role="dialog" id="paymentmodal" data-bs-backdrop="static" >
     <div class="modal-dialog" role="document">
         <div class="modal-content rounded-4 shadow">
             <div class="modal-body p-4 text-center">
                 <h3 class="mb-0">최종 선택 확인</h3>
                 <div>
                     <span>선택한 영화 : 스파이더맨</span><br>
                     <span>선택한 날짜 : 2202/01/26</span><br>
                     <span>관/시간 : 2관/11:00~13:10</span><br>
                     <span>인원 : 1명</span><br>
                     <span>선택한 좌석 : A2</span><br>
                 </div>
             </div>
             <div class="modal-footer flex-nowrap p-0">
                 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" onclick="payment();"><strong>결제</strong></button>
                 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">돌아가기</button>
             </div>
         </div>
     </div>
 </div>
 <div class="modal fade" tabindex="-1" role="dialog" id="videomodal" data-bs-backdrop="static" >
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content rounded-4 shadow">
             <div class="modal-body p-4 text-center">
                 <video controls width="100%">
                     <source src="/foster/test.mp4">
                 </video>
             </div>
         </div>
     </div>
 </div>
 <script th:src="@{/js/ticketing.js}"></script>
 <div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>