<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div th:replace="header.html::header"></div><!--헤더-->
 <!-- 결제 API  -->
 <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
 <div class="container">

     <div class=" text-center" style="background-color: black; height: 700px;" id="ticketbox">
        <div style="background-color: white; height:">
            <div class="row">
                <div class="col-md-4">
                    <p id="moviename" th:text="${movieinfo.movieNm}"></p><p id="tdate" th:text="${dateinfo.ddate} +' '+ ${dateinfo.dtime}"></p>
                    <p id="cnema" th:text="${dateinfo.cnemaEntityDate.cname}+' · '+${dateinfo.cnemaEntityDate.ctype}"></p>
                </div>
                <div class="col-md-2">
                    성인
                    <button class="btn" onclick="btnpcount('adult','-')">-</button>
                    <span id="adultcount" th:text="${adult}">0</span>
                    <button class="btn" onclick="btnpcount('adult','+')">+</button>
                </div>
                <div class="col-md-2">
                    청소년
                    <button class="btn" onclick="btnpcount('youth','-')">-</button>
                    <span id="youthcount" th:text="${youth}">0</span>
                    <button class="btn" onclick="btnpcount('youth','+')">+</button>
                </div>
            </div>
        </div>
         <div style="padding-top: 30px;">
             <span style="margin-top: 10px;" th:each="list  , i : ${seatlist}"><!--자리깔기-->
                 <button th:if="${list.equals('X')}" class="btn" style="background-color:rgba(0, 0, 0, 0); WIDTH: 40pt; HEIGHT: 40pt;" disabled="disabled"></button>
                 <button th:if="${!list.equals('X') and !list.contains('@') }" th:text="${#strings.listSplit(list,'@')[0]}" th:id="${list}" class="btn" style="background-color: silver; border-radius: 30%; WIDTH: 40pt; HEIGHT: 40pt;" th:onclick="btntcount([[${list}]])"></button>
                 <button th:if="${!list.equals('X') and list.contains('@')  }" disabled th:text="${#strings.listSplit(list,'@')[0]}" th:id="${list}" class="btn" style="background-color: silver; border-radius: 30%; WIDTH: 40pt; HEIGHT: 40pt;" th:onclick="btntcount([[${list}]])"></button>
                 <br th:if="${i.index%20==19}">
             </span>
         </div>

         <button class="btn btn-success" data-bs-target="#paymentmodal" data-bs-toggle="modal" th:onclick="ticketing([[${dateinfo.cnemaEntityDate.ctype}]])" id="paymentbtn" style="display : none;">결제하기</button>
         <a  th:href="@{/movie/ticketingdate}"><button class="btn btn-danger" data-bs-target="#paymentmodal" data-bs-toggle="modal">뒤로가기</button></a>
     </div>
 </div>
 <div class="modal fade" tabindex="-1" role="dialog" id="paymentmodal" data-bs-backdrop="static" >
     <div class="modal-dialog" role="document">
         <div class="modal-content rounded-4 shadow">
             <div class="modal-body p-4 text-center">
                 <h3 class="mb-0">최종 선택 확인</h3>
                 <div>
                     <span id="resultmname"></span><br>
                     <span id="resultdate"></span><br>
                     <span id="resulttime"></span><br>
                     <span id="resultcount"></span><br>
                     <span id="resultplace"></span><br>
                     <span id="resultprice"></span><br>
                 </div>
             </div>
             <div class="modal-footer flex-nowrap p-0">
                 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" th:onclick="payment([[${dateinfo.cnemaEntityDate.ctype}]],[[${dateinfo.dno}]]);"><strong>결제</strong></button>
                 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">돌아가기</button>
             </div>
         </div>
     </div>
 </div>
 <script th:src="@{/js/ticketing.js}"></script>
 <div th:replace="footer.html::footer"></div><!--푸터-->
</body>
</html>