<!DOCTYPE html>
<html lang="en" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="position: relative;">
        <footer class="py-3 my-4" style="margin-left: 15px;">
            <span class="text-muted">서울특별시 누구 메일로 100 스프링타워 87층  |  </span><span class="nav-item text-muted">고객센터 1544-8855</span><br>
            <span class="nav-item text-muted">대표이사 시네마  |  </span><span class="nav-item text-muted">사업자등록번호 111-01-00000</span><br>
            <span class="nav-item text-muted">통신판매업신고번호 제1184호   |   </span><span class="nav-item text-muted">개인정보 보호 최고 책임자 스프링 킴</span><br>
            <p class="text-start text-muted">COPYRIGHT &copy; 2022 SPRING CINEMA</p>
        </footer>
        <div style="height: 120px; position: absolute;top:40px; right: 120px;">
            <a href="http://youtube.com" style="text-decoration: none; margin-right: 10px;"><img th:src="@{/img/youtube.png}" style="max-width: 40px;"><span style="font-weight: bold;" class="text-muted">  유튜브 </span></a>
            <a href="http://meta.com" style="text-decoration: none;  margin-right: 10px;"><img th:src="@{/img/meta.png}" style="max-width: 40px;"><span style="font-weight: bold;" class="text-muted">  META </span></a>
            <a href="http://instagram.com" style="text-decoration: none;  margin-right: 10px;"><img th:src="@{/img/instagram.png}" style="max-width: 40px;"><span style="font-weight: bold;" class="text-muted">  인스타그램 </span></a>
            <a href="http://github.com" style="text-decoration: none;  margin-right: 10px;"><img th:src="@{/img/github.png}" style="max-width: 40px;"><span style="font-weight: bold;" class="text-muted">  GITHUB </span></a>
        </div>
    </div>
</body>
</html>